# Compiled class file
# testing if file is pushed from local (master javier escudero)
# C:\Users\p_roc\Documents\200727-java-ng-usf\javier_escudero_p0
# to remote repository at github: 
# 200727-java-ng-usf/javier_escudero_p0

# IDE-specific files and folders
.idea/
*.iml

# Build folders and files
target/
out/
*.class


# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
